body {
    background-color: white;
    margin: auto;
    font-family: 'Lato',
    sans-serif;
}

a {
    padding: 1em;
    text-decoration: none;
}

li {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

.hero {
    padding: 1rem;
    background: url(./img/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 30rem;    
}
.darken {
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url(./img/Hero.png);
}

.nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;

}

.nav-button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: .25rem;
    position: relative;
}

.discover {
    max-width: 50%;
    margin: auto;
    display: flex;
    color: white;
}

.selection {
    display: flex;
    flex-direction: column;
}

.location {
    background: white;
    display: flex;
    margin: auto;
    max-width: 50%;
    width: 15rem;
}

input {
    display: flex;
    margin: auto;
    padding: 1rem; 
    max-width: 100%;
    width: 30rem;
    border-radius: .25rem;
}

p {
    display: flex;
    text-align: center;
    font-size: 3em;
}

.main {
    padding: 7rem;
}

.grid-container {
    display: flex;
    grid-column-gap: 50px;
    flex-wrap: wrap;
}

.grid-item {
    padding: 1rem;
    max-width: 100%;
}

h3 {
    color: lightgray;
}

h1 {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

button {
    background-color: rgba(255, 52, 52, 100);
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: .25rem;
}


.discover {
    display: flex;
    margin: auto;
}


